aiomysql==0.1.1
alembic==1.16.4
annotated-types==0.7.0
anyio==4.9.0
authlib==1.6.0
bcrypt==4.0.1
beautifulsoup4==4.13.4
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cryptography==45.0.5
cssselect==1.3.0
datetime==5.5
dnspython==2.7.0
dotenv==0.9.9
dynaconf==3.2.11
ecdsa==0.19.1
email-validator==2.2.0
fastapi==0.95.2
fastapi-authlib==0.0.4
fastapi-sa==0.1.0
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.18.0
fsspec==2025.7.0
greenlet==3.2.3
h11==0.14.0
hf-xet==1.1.5
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.33.4
idna==3.10
inflection==0.5.1
itsdangerous==2.2.0
jieba3k==0.35.1
jinja2==3.1.4
joblib==1.5.1
jose==1.0.0
lxml==6.0.0
lxml-html-clean==0.4.2
mako==1.3.10
markupsafe==3.0.2
mpmath==1.3.0
networkx==3.3
newspaper3k==0.2.8
nltk==3.9.1
numpy==2.3.1
packaging==25.0
passlib==1.7.4
pillow==11.3.0
pyasn1==0.6.1
pycparser==2.22
pydantic==1.10.22
pydantic-core==2.33.2
pyjwt==2.10.1
pymongo==4.13.2
pymysql==1.1.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
pytz==2025.2
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.4
requests-file==2.1.0
rsa==4.9.1
safetensors==0.5.3
setuptools==80.9.0
sgmllib3k==1.0.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
sqlalchemy==1.4.46
starlette==0.27.0
sympy==1.13.3
textblob==0.19.0
tinysegmenter==0.3
tldextract==5.3.0
tokenizers==0.21.2
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.53.2
typing-extensions==4.14.1
typing-inspection==0.4.1
urllib3==2.5.0
uvicorn==0.21.1
zope-interface==7.2
